<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style.css">

        <script src="/Scripts/jquery-2.1.0.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
    </head>
    <body>
            @RenderPage("header.cshtml")
            <div class="container" id="principal">
                @RenderBody()
            </div>
            @RenderPage("footer.cshtml")
    </body>
</html>


<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>

<script>

    $(document).ready(function () {

        
        $('#salir').click(function () {
            $('#myLogin').modal('hide');
        });

        $(document).mousemove(function (e) {
            TweenLite.to($('#log'),
               .5,
               {
                   css:
                     {
                         'background-position': parseInt(event.pageX / 8) + "px " + parseInt(event.pageY / 12) + "px, " + parseInt(event.pageX / 15) + "px " + parseInt(event.pageY / 15) + "px, " + parseInt(event.pageX / 30) + "px " + parseInt(event.pageY / 30) + "px"
                     }
               });
        });
    });

</script>
